<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nice</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/nice.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../javascripts/nice.js"></script>
</head>
<body>
<div class="c-container">

<div class="question">
	<div class="question__wrapper">
		<div class="question__inner">
			<p class="question__title">Че такое?</p>
			<input class="question__text" type="text">
			<a class="question__button">Задать вопрос</a>
		</div>
	</div>
</div>
<div class="chat">
	<div class="person__second">У меня есть вопрос...</div>
	<div class="person__first">Че такое?</div>
</div>


<div class="talk">
	<div class="talk__phrase"></div>
</div>


<div class="table">
	<div class="joke__bg">
		<p class="joke__text"></p>
	</div>
	<table>
		<tr>
			<td class="table__word">Властелин колец</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
		<tr>
			<td class="table__word">Спорт</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
		<tr>
			<td class="table__word">Москва и москвичи</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
		<tr class="jokes">
			<td class="table__word">Шуточки</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
		<tr>
			<td class="table__word">География</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
	</table>
</div>

</div>
{%- if not isExport and _env == 'development'%}
  {% include "blocks/__add_component.html" %}
  <!-- include liveReload only in Dev server -->
  <script src="//localhost:35729/livereload.js"></script>
{%- endif %}	
</body>
</html>