<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nice</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/nice.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../javascripts/nice.js"></script>
</head>
<body>
<div class="c-container">
	<form id="question">
		<input type="text" value="sadas">
	</form>
	<div class="c-talk"></div>

	<!-- фон 080f94 -->

	<!-- линии f4fcff -->

	<!-- цифры и слова f7fcc4 -->

	<!-- внешняя граница 011425 -->
<div class="c-table">
	<div class="c-table__joke">
		<p>joke</p>
	</div>
	<table>
		<tr>
			<td class="c-table__word">Властелин колец</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
		<tr>
			<td class="c-table__word">Спорт</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
		<tr>
			<td class="c-table__word">Москва и москвичи</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
		<tr class="c-jokes">
			<td class="c-table__word">Шуточки</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
		<tr>
			<td class="c-table__word">География</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td>300</td>
		</tr>
	</table>
</div>

</div>
{%- if not isExport and _env == 'development'%}
  {% include "blocks/__add_component.html" %}
  <!-- include liveReload only in Dev server -->
  <script src="//localhost:35729/livereload.js"></script>
{%- endif %}	
</body>
</html>