<footer class="c-dpe-footer">
  <div class="c-dpe-footer__container">
    <div class="c-dpe-footer__links">
      <ul>
          <li class="c-dpe-footer__links-item"><a href="http://support.microsoft.com/contactus/?ws=mscom" target="_blank">Контактная информация</a></li>
          <li class="c-dpe-footer__links-item"><a href="http://go.microsoft.com/fwlink/?LinkId=248681" target="_blank">Конфиденциальность</a></li>
          <li class="c-dpe-footer__links-item"><a href="http://www.microsoft.com/rus/info/copyright/" target="_blank">Условия использования</a></li>
          <li class="c-dpe-footer__links-item"><a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/ru-ru.mspx" target="_blank">Товарные знаки</a></li>
      </ul>
    </div>
    <ul class="c-dpe-footer__menu">
      <li class="c-dpe-footer__menu-item">
        <a href="http://msdn.microsoft.com/ru-ru/ff380143">
            <img src="/images/footer-w.png" alt="">
        </a>
      </li>
      <li class="c-dpe-footer__menu-item">
          <a href="http://msdn.microsoft.com/ru-ru/hh916378">
              <img  src="/images/footer-vs.png" alt="">
          </a>
      </li>
      <li class="c-dpe-footer__menu-item">
          <a href="http://www.azurehub.ru/">
              <img class="mt5"  src="/images/footer-azure.png"  alt="">
          </a>
      </li>
      <li class="c-dpe-footer__menu-item">
          <a href="http://msdn.microsoft.com/ru-ru/ff380145">
              <img class="mt5" src="/images/footer-gd.png" alt="">
          </a>
      </li>
      <li class="c-dpe-footer__menu-item">
          <a href="http://www.microsoft.com/ru-ru/default.aspx">
              <img  src="/images/footer-mic.png" alt="">
          </a>
      </li>
    </ul>
  </div>
</footer><!-- end footer section -->
