@import 'core/variables';
@import 'mixins/mixins';
@import 'core/reset';
@import 'core/defaults';
@import 'core/fonts';

@import 'layout/layout';
@import 'components/components';
@import 'helpers/helpers';

// * {
// 	outline: 1px solid red;
// }

.c-container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 30px;
	background: transparent;
}

.c-talk {
	width: 200px;
}